*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}
.navbar-brand img:hover{
    transform:scale(1.3) ;
}
.navbar-nav li{
    padding: 0 10px ;
}
.navbar-nav li a{
   float: right;
   text-align: left;
}
#nav-bar ul li a:hover{
    color: #007bff!important;
    transform:scale(1.2) ;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color:#555!important;
    font-weight: 700;
    font-size: 14px;
}
#slider{
    width: 100%;
}
.carousel-caption{
    transform:translateY(-50%);
}
#about{
    padding-top: 100px;
    padding-bottom: 100px;
    color:#555;
}
#about .btn{

    margin-top: 20px;
    margin-bottom: 30px;
     
}
.about-content{
    padding-top: 20px;
}
.skills-bar p{
     margin-bottom: 6px;
     font-weight: 600;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 20px ;
}

#services{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom:50px ;
}
#services h1{
    text-align: center;
    color: #efefef!important;
    padding-bottom:10px ;
}
#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height:3px;
    width: 170px;
    margin: 20px auto 5px;

}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height:80px;
    width: 80px;
    border:1px solid #fff;
    border-radius: 30%;

}
#services p{
    font-size: 16px;
    margin-top: 20px;
    color: #ccc;
}

.services .col-md-3:hover{

    background: #007bff;
    cursor: pointer;
    transition: 3s;
}
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;

}
h1{
    text-align: center;
    color:#555;
    padding-bottom: 10px;
}
#team h1::after{
    content: '';
    background: #007bff;
    display: block;
    height:3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .image-box{
     opacity: 0.8;
     display: block;
     position: relative;
}
.profile-pic .image-box:hover{
    opacity: 1;
    cursor: pointer;
    transition: 5s;
    
}
.profile-pic .image-box img{
    filter: grayscale(1);
    height: 190px; 
    width: 190px;
    border-radius: 50%;
  

}
.profile-pic .image-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
    border-radius: 0%;
    cursor: pointer;
    transition: 1s;
    transform:scale(1.1)

}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top:15px;
    color: #007bff!important;
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top:15px;
    
}
#team .fa{
   height: 25px;
   width: 25px;
   color: black!important ;
   background: #fff;
   padding: 4px;
   border-radius: 50%;
} 
 .image-box ul{
     padding:15px ;
     position: absolute;
     z-index: 2;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     opacity: 0;



 }
 .image-box ul li{
     padding: 5px;
     display: inline-block;
 }
 .image-box:hover ul{
     opacity: 1;
     transform:scale(1.1)
}
 .image-box ul ,  .image-box ul li{
     transition: 2s;
 }
 #prome{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(promo.jpg);  
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    text-shadow: 1px 1px #007bff;
    padding: 100px;
    font-family: fantasy;
    font-size: 38px;
}
#price{ 
    padding: 40px 0px;
    background-color: #efefef;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
}

